<div id="master">
  <div id="header">
    <p>MainComponent</p>
  </div>
  <div id="mainBody">
    <p>This is some blank text to fill up this assignment. Please do not pay attention to this!
      Instead of using dumb Latin Text Lorem ipdumb, we are blabling along. Since this will make it less
      annoying to read and try to understand what is going on. This way, we can have a little bit more fun
      about what kind of text is actually written and read. Maybe this will also mean people stop using dummy
      text to write about nothing... maybe.</p>
  </div>
  <div id="footer">
  </div>
</div>
