<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello ShowAll</title>
    </head>
    <body>
        <div id="master">
            <div id="header">
                <h1>Show All</h1>
            </div>
            <div id="mainBody">
                <fieldset>
                </fieldset>
            </div>
            <div id="footer">
            </div>
        </div>
    </body>
</html>