<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello Success</title>
    </head>
    <body>
        <div id="master">
            <div id="header">
                <h1>Success!</h1>
                <a href="/">Go home</a>
            </div>
            <div id="mainBody">
                
            </div>
            <div id="footer">
            </div>
        </div>
    </body>
</html>