<!DOCTYPE html>
<htlm lang="en">
    <head>
        <meta charset="utf-8">
        <title>Overview Example - AllUsers.ejs</title>
    </head>
    <body>
        <div id="master">
            <div id="header">
            </div>
            <div id="mainBody">
            </div>
            <div id="footer">
                <a href="/">Return to index.html</a>
            </div>
        </div>
    </body>
</htlm>