<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dummy Test Project - Carlos</title>
        <style>
            *{
                margin: 0 auto;
                text-align: center;
            }
            form{
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div id="master">
            <div id="header">
                <h1>This is a COUNTER</h1>
            </div>
            <div id="mainBody">
                <h1><%= counter %></h1>
            </div>
            <div id="footer">
                <form action="/plus2" method="post">
                    <button type="submit" name="Plus2Button">Add 2</button>
                </form>
                <form action="/reset" method="post">
                    <button type="submit" name="Reset">Reset</button>
                </form>
            </div>
        </div>
    </body>
</html>