*{
    margin: 0 auto;
    text-align: center;
}
    #master{
        width: 100%;
    }

        #mainBody{
            width: 50%;
        }
            fieldset ul{
                display: inline-block;
                vertical-align: top;
            }
            
            fieldset label, input, textarea{
                margin: 0.5em;
                display: block;
            }
