<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Landing Page Assignment - dojos.html</title>
        <style>
            fieldset{
                width: 40%;
            }
            ul{
                display: inline-block;
            }
            input, label{
                display: block;
            }
        </style>
    </head>
    <body>
        <div id="master">
            <div id="header">
                <h1>Here is a blank form... that will not send you anywhere... pretty neat, huh?</h1>
            </div>
            <div id="mainBody">
                <fieldset>
                    <legend>A form that won't send!</legend>
                    <form action="" method="get">
                        <ul>
                            <label>First Name:</label>
                            <label>Last Name:</label>
                            <label>Emial:</label>
                            <label>Password:</label>
                            <label>Confirm Password:</label>
                        </ul>
                        <ul>
                            <input type="text" name="FirstName" placeholder="example: Jim">
                            <input type="text" name="LastName" placeholder="exmaple: Halper">
                            <input type="email" name="Email" placeholder="halpji@dunder.com">
                            <input type="password" name="Password" placeholder="secret">
                            <input type="password" name="ConfirmPassword" placeholder="secret">
                        </ul>
                    </form>
                </fieldset>
            </div>
            <div id="footer">
            </div>
        </div>
    </body>
</html>