<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Landing Page Assignment - nijas.html</title>
    </head>
    <body>
        <div id="master">
            <div id="header">
                <h1>Information about Ninjas...</h1>
            </div>
            <div id="mainBody">
                <p>Ninjas like to run around in the darkness of night making no sound.</p>
                <p>How can something make no sound though? And why would they run around in darkness? Well, it helps that they have outfits
                    that are very dark... so, this should help in blending in easier... but they are also no known to be the best
                    combatants... this is intentional though... since they primarily focus on assassinations and or intel gathering.</p>
            </div>
            <div id="footer">
                <p>...</p>
            </div>
        </div>
    </body>
</html>