<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cars and Cats Assignment - cars.html</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/jazzUp">
    </head>
    <body>
        <div id="master">
            <div id="header">
            </div>
            <div id="mainBody">
                <label for="a1">Audi A1</label>
                <img id="a1" src="/images/audiA1.jpg" alt="audiA1.jpg">

                <label for="a2">Audi A2</label>
                <img id="a2" src="/images/audiA2.jpg" alt="audiA2.jpg">

                <label for="a3">Audi A3</label>
                <img id="a3" src="/images/audiA3.jpg" alt="audiA3.jpg">

                <label for="s4">Audi S4</label>
                <img id="s4" src="/images/audiS4.jpg" alt="audiS4.jpg">

                <label for="a5">Audi A5</label>
                <img id="a5" src="/images/audiA5.jpg" alt="audiA5.jpg">

                <label for="a6">Audi A6</label>
                <img id="a6" src="/images/audiA6.jpg" alt="audiA6.jpg">
                
                <label for="a7">Audi A7</label>
                <img id="a7" src="/images/audiA7.jpg" alt="audiA7.jpg">
                
                <label for="a8">Audi A8</label>
                <img id="a8" src="/images/audiA8.jpg" alt="audiA8.jpg">
            </div>
            <div id="footer">
            </div>
        </div>
    </body>
</html>