<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cars and Cats Assignment - carForm.html</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/jazzUp">
    </head>
    <body>
        <div id="master">
            <div id="header">
            </div>
            <div id="mainBody">
                <fieldset>
                    <legend><h1>New Car Form</h1></legend>
                    <form id="newCarForm" action="" method="">
                        <ul>
                            <label>Car Make:</label>
                            <label>Car Model:</label>
                            <label>Car Color:</label>
                            <label>Car Type:</label>
                            <label>Car Image:</label>
                        </ul>
                        <ul>
                            <input type="text" name="CarMake" placeholder="example: Audi">
                            <input type="text" name="CarModel" placeholder="example: A3">
                            <input type="text" name="CarColor" placeholder="example: Silver">
                            <input type="text" name="CarType" placeholder="example: Sedan">
                            <input type="text" name="CarImage">
                        </ul>
                        <button type="submit" name="NewCarButton">Add</button>
                    </form>
                </fieldset>
            </div>
            <div id="footer">
            </div>
        </div>
    </body>
</html>